.music-notes {
    display: flex;
}
.music-notes > * {
    flex: 50%;
}

.container {
    margin: 1%;
}
.select-chord {
    margin-bottom: 1em;
}
.select-key {
    display: flex;
}
.stats {
    width: 50%;
    flex-grow: 1;
    padding-left: 1em;
}
.keys {
    // width: 50%;
}
.charts {
    display: flex;
    align-items: center;
}
