<div>
    <div *ngIf="chords">
        <mat-chip-list aria-label="Fish selection">
            <mat-chip
                color="primary"
                *ngFor="let key of chords.keys"
                (click)="
                    onSelect(
                        key +
                            ' ' +
                            chords.chords[key.replace('#', 'sharp')][0].suffix
                    );
                    finger.setChord(
                        key +
                            ' ' +
                            chords.chords[key.replace('#', 'sharp')][0].suffix
                    )
                "
                >{{ key }}
                {{
                    chords.chords[key.replace("#", "sharp")][0].suffix
                }}</mat-chip
            >
            <mat-chip
                color="primary"
                *ngFor="let key of chords.keys"
                (click)="
                    onSelect(
                        key +
                            ' ' +
                            chords.chords[key.replace('#', 'sharp')][1].suffix
                    );
                    finger.setChord(
                        key +
                            ' ' +
                            chords.chords[key.replace('#', 'sharp')][1].suffix
                    )
                "
                >{{ key }}
                {{
                    chords.chords[key.replace("#", "sharp")][1].suffix
                }}</mat-chip
            >
        </mat-chip-list>
    </div>
    <div class="music-notes">
        <app-finger-diagram #finger></app-finger-diagram>
        <app-note-diagram #note></app-note-diagram>
    </div>
    <div class="guitar-diagram">
        <app-guitar-diagram></app-guitar-diagram>
    </div>
</div>
