<div>
    <h1>Finger Diagram</h1>
</div>

<div class="posNav" *ngIf="chosenFingerPos">
    <button
        mat-icon-button
        color="primary"
        aria-label="button left"
        (click)="onClickChangePos('decrease')"
    >
        <mat-icon>chevron_left</mat-icon>
    </button>
    {{ chosenFingerCount + 1 }} of {{ fingerPos.length }} positions
    <button
        mat-icon-button
        color="primary"
        aria-label="Example icon button with a home icon"
        (click)="onClickChangePos('increase')"
    >
        <mat-icon>chevron_right</mat-icon>
    </button>
</div>
